---
layout: default
title: The man, the myth, the legend.
---
{% include JB/setup %}

.hero-unit
  %h1 Hey you!
  %p I'm Will King, amateur developer-engineer-entreprenur-autodidact. A serial learner who hasn't yet found his niche; but don't worry, I've got big plans. Mainly making sure I live a life without regret. Your mother probably wouldn't approve.
  %p
    %a.btn.btn-primary.btn-large Learn more &raquo;


.row
  .span4.hero-details
    %h2 Portfolio
    %p Coming soon! In the meantime, check out my about me or contact me for details. I'd love to hear from you.
    %p
      %a.btn{:href => "/work.html"} View details &raquo;
  .span4.hero-details
    %h2 Will's Web Logs
    %p Ramblings of a wreak. Expect the unexpected because here I'll drop science like it's hot, discuss high sounding philosophy and share some of my latest eargasms.
    %p
      %a.btn{:href => "/blog"} Take me to blahhg &raquo;
  .span4.hero-details
    %h2 Drop me a line!
    %p I love meeting new people as much as connecting with old friends. Please feel free to send me an email, don't be shy.
    %p
      %a.btn{:href => "mailto:iamwillking@gmail.com"} Internet Mail away &raquo;
%hr