/* line 1, ../sass/styles.scss */
html, body {
  background: #eeeeee url(../img/bg.png);
}

/* line 5, ../sass/styles.scss */
.hero-unit {
  background: silver url(../img/toast.png);
}

/* line 8, ../sass/styles.scss */
.hero-details h2 {
  text-align: center;
}

/* line 12, ../sass/styles.scss */
.navbar {
  margin-bottom: 0;
}

/* line 16, ../sass/styles.scss */
.navbar-inner {
  background: #313131;
}

/* line 19, ../sass/styles.scss */
.navbar .brand {
  color: #fff;
}

/* line 23, ../sass/styles.scss */
.navbar .nav > li > a {
  color: #fff;
}

/* line 27, ../sass/styles.scss */
.navbar .nav > li > a:hover {
  color: #A0A0A0;
  text-decoration: none;
}

/* line 33, ../sass/styles.scss */
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #A0A0A0;
  text-decoration: none;
}

/* line 38, ../sass/styles.scss */
.container > footer {
  margin-top: 20px;
}

/* line 41, ../sass/styles.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
  color: grey;
}

/* The white background content wrapper */
/* line 47, ../sass/styles.scss */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0px -20px 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Page header tweaks */
/* line 60, ../sass/styles.scss */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* line 66, ../sass/styles.scss */
.topbar .btn {
  border: 0;
}

/* tag_box ======================================================== */
/* line 73, ../sass/styles.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}

/* line 79, ../sass/styles.scss */
.tag_box li {
  line-height: 28px;
}

/* line 82, ../sass/styles.scss */
.tag_box.inline li {
  float: left;
}

/* line 85, ../sass/styles.scss */
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #005F6B;
  border-radius: 3px;
  text-decoration: none;
}

/* line 93, ../sass/styles.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 97, ../sass/styles.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}

.well {
  padding: 15px;
  margin: 10px 0px 0px 0px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f2f2f2;
}

.portfolio-thumb{
  font-size: 200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-cont{
  width: 250px;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: block;
  text-decoration: none;
}

.top10 {
  margin-top: 20px;
}